# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Build output
/build
/dist

# IDE-specific files
.vscode/
.idea/

# NPM package lock file (optional)
package-lock.json
